{% extends "base.html" %}

{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    Uma Simples Plataforma de Ensino a Distância
                </h1>
                <h2 class="splash-subhead">
                    O Simple MOOC visa simplificar o ensino a distância, provendo ferramentas objetivas e de
                    fácil uso para cursos a distância.
                </h2>
                <p>
                    <a href="#" class="pure-button primary-button">Saiba mais</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Fale conosco</h1>
        <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para
            contato:</p>
        <h4>Links</h4>
        <ul>
            <li>E-mail: <a href="mailto:contato@simplemooc.org">contato@simplemooc.org</a></li>
            <li>Twitter: <a href="https://twitter.com/simplemooc">@simplemooc</a></li>
        </ul>
    </div>
</div>
{% endblock %}